@import "abstracts/variables";

.btn {
  border: none;
  border-radius: $border-radius-pill;
  padding: 12px 24px;
  box-sizing: border-box;
  font-weight: bold;
  &.btn-fit {
    width: fit-content;
  }
  &.btn-important {
    border: none !important;
    background: $gradient-red-darkred !important ;
    color: $base-white !important;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      border: none !important;
      background: $gradient-red-darkred !important;
      color: $base-white !important;
    }
  }
}

.txt-input {
  border: 2px solid $base-black;
  border-radius: $border-radius-pill;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;
}
