@import "abstracts/variables";

.btn {
  border: none;
  border-radius: $border-radius-pill;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;
}

.txt-input {
  border: 2px solid $base-black;
  border-radius: $border-radius-pill;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;
}
