@import "abstracts/variables";

// font-weight map
/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

// Frutiger Next LT
@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Heavy.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-HeavyItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger Next LT";
  src: url("../../assets/fonts/FrutigerNextLT/FrutigerNextLT-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

// Martina Plantijn
@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("../../assets/fonts/MartinaPlantijn/MartinaPlantijn-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: $font-secondary;
  font-size: $font-md-mobile;
  font-weight: 50 0;
  @media screen and (min-width: $screen-md) {
    font-size: $font-md-desktop;
  }
}

h1,
.h1 {
  font-family: $font-primary;
  font-size: $font-h1-mobile;
  font-weight: bold;
}

h2,
.h2 {
  font-family: $font-primary;
  font-size: $font-h2-mobile;
  font-weight: bold;
}

h3,
.h3 {
  font-family: $font-primary;
  font-size: $font-h3-mobile;
  font-weight: 500;
}

h4,
.h4 {
  font-family: $font-primary;
  font-size: $font-h4-mobile;
  font-weight: bold;
}

.sub-header {
  font-size: $font-hsub-mobile;
}

.text {
  &--important {
    font-size: $font-xl-mobile;
  }
}

.link {
  color: $base-black;
  text-decoration: none;
}

.list {
  &--linked a {
    color: $base-black;
    text-decoration: none;
  }
}
