// breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

$screen-xs-max: calc($screen-sm - 1px);
$screen-sm-max: calc($screen-md - 1px);
$screen-md-max: calc($screen-lg - 1px);
$screen-lg-max: calc($screen-xl - 1px);
$screen-xl-max: calc($screen-xxl - 1px);

$breakpoints-min: (
  "sm": $screen-sm,
  "md": $screen-md,
  "lg": $screen-lg,
  "xl": $screen-xl,
  "xxl": $screen-xxl,
);

$breakpoints-max: (
  "xs": $screen-xs-max,
  "sm": $screen-sm-max,
  "md": $screen-md-max,
  "lg": $screen-lg-max,
  "xlx": $screen-xl-max,
);

// base colors
$base-black: #000000;
$base-darkgray: #1c1c1c;
$base-gray: #777777;
$base-white: #ffffff;
$base-red: #e0001b;

// accent colors
$accent-khaki: #6c9a8b;
$accent-rose: #eed2cc;
$accent-orange: #ff8a32;
$accent-purple: #9381ff;
$accent-lime: #e1ef83;
$accent-darkblue: #122138;

// contrast colors
$contrast-mustard: #f7d062;
$contrast-bluegray: #b0b9ca;
$contrast-peach: #f7d6a7;
$contrast-clay: #ece1d8;

// status colors
$success-primary: #008435;
$success-secondary: #e0ffe5;
$warning-primary: #fab400;
$warning-secondary: #fff1cc;
$danger-primary: #ffcccc;
$danger-secondary: #fa0000;

// misc colors
$misc-lightgray: #f2f2f2;
$misc-darkred: #7b0006;
$misc-lilac: #bdb2ff;
$misc-darkorange: #e26c3f;
$misc-brown: #d4a47b;

// gradients
$gradient-red-darkred: linear-gradient(90deg, $base-red 0%, $misc-darkred 100%);

$font-primary: "Martina Plantijn", Arial, sans-serif;
$font-secondary: "Frutiger Next LT", Arial, sans-serif;

// $font-xs-mobile: 12px;
// $font-xs-desktop: 12px;
// $font-sm-mobile: 14px;
// $font-sm-desktop: 14px;
// $font-md-mobile: 16px;
// $font-md-desktop: 18px;
// $font-lg-mobile: 20px;
// $font-lg-desktop: 28px;
// $font-xl-mobile: 24px;
// $font-xl-desktop: 30px;
// $font-xxl-mobile: 32px;
// $font-xxl-desktop: 56px;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 28px;
$font-xxxl: 32px;
$font-huge: 40px;
$font-xhuge: 56px;

$font-h1-mobile: $font-xxxl;
$font-h1-desktop: $font-xhuge;
$font-h2-mobile: $font-xxxl;
$font-h2-desktop: $font-xhuge;
$font-h3-mobile: $font-xl;
$font-h3-desktop: $font-xxl;
$font-h4-mobile: $font-xxl;
$font-h4-desktop: $font-huge;
 
$font-hsub: $font-lg;

$font-nav-link: $font-lg;

$icon-sm: 32px;
$icon-md: 48px;

$section-gap-mobile: 32px;
$section-gap-desktop: 72px;

$border-radius-small: 6px;
$border-radius-medium: 12px;
$border-radius-large: 20px;
$border-radius-pill: 50rem;

$box-padding-small: 16px;
$box-padding-mobile: 24px;
$box-padding-desktop: 32px;

// override bootstrap spacer variable
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// prettier-ignore
$spacers: map-merge(
  (
    "n12": -($spacer * 9.375), //-150px
    "n11": -($spacer * 7.5),  //-120px
    "n10": -($spacer * 6.25), //-100px
    "n9": -($spacer * 5),     //-80px
    "n8": -($spacer * 4),     //-64px
    "n7": -($spacer * 3),     //-48px
    "n6": -($spacer * 2),     //-32px
    "n5": -($spacer * 1.5),   //-24px
    "n4": -$spacer,           //-16px
    "n3": -($spacer * .75),   //-12px
    "n2": -($spacer * .5),    //-8px
    "n1": -($spacer * .25),   //-4px
    0: 0,
    1: ($spacer * .25),     //4px
    2: ($spacer * .5),      //8px
    3: ($spacer * .75),     //12px
    4: $spacer,             //16px
    5: ($spacer * 1.5),     //24px
    6: ($spacer * 2),       //32px
    7: ($spacer * 3),       //48px
    8: ($spacer * 4),       //64px
    9: ($spacer * 5),       //80px
    10: ($spacer * 6.25),   //100px
    11: ($spacer * 7.5),    //120px
    12: ($spacer * 9.375)   //150px
  ),
  $spacers
);

$img-height-small-mobile: 220px;
$img-height-meidum-mobile: 320px;
$img-height-large-mobile: 420px;
$img-height-xlarge-mobile: 520px;
