@import "abstracts/variables";
@import "abstracts/mixins";

.content {
  &__spacing {
    margin-top: $section-gap-mobile;
    margin-bottom: $section-gap-mobile;
    &--start {
      margin-top: $section-gap-mobile;
    }
    &--end {
      margin-bottom: $section-gap-mobile;
    }
  }
  &__padding {
    padding-top: $section-gap-mobile;
    padding-bottom: $section-gap-mobile;
    &--start {
      padding-top: $section-gap-mobile;
    }
    &--end {
      padding-bottom: $section-gap-mobile;
    }
  }
  &__full-bleed {
    box-shadow: 0 0 0 100vmax $base-white;
    clip-path: inset(0 -100vmax);
  }
  &__box {
    border-radius: $border-radius-large;
    padding: $box-padding-mobile;
  }
  &__box--small {
    border-radius: $border-radius-small;
    padding: $box-padding-small;
  }
  &__status-icon {
    font-size: $icon-md;
    line-height: 1;
  }
  &__overlay {
    position: relative;
    z-index: 100;
    border-radius: $border-radius-large;
    box-sizing: content-box;
    &--absolute {
      position: absolute;
      z-index: 100;
      border-radius: $border-radius-large;
      box-sizing: content-box;
      margin-left: auto;
      margin-right: auto;
      left: 24px;
      right: 24px;
    }
  }
}

.image-container {
  &__image {
    width: 100%;
    border-radius: $border-radius-large;
  }
  &__video--full-bleed {
    position: absolute;
    display: block;
    object-fit: cover;
    height: inherit;
    width: 100vw;
    left: -0.75rem;
    @media screen and (min-width: $screen-md) {
      left: -1.5rem;
    }
  }
  &--small {
    box-sizing: content-box;
    height: $img-height-small-mobile;
  }
  &--medium {
    box-sizing: content-box;
    height: $img-height-meidum-mobile;
  }
  &--large {
    box-sizing: content-box;
    height: $img-height-large-mobile;
  }
  &--xlarge {
    box-sizing: content-box;
    height: $img-height-xlarge-mobile;
  }
}

.bg-color {
  &--base-black {
    background-color: $base-black;
  }
  &--base-darkgray {
    background-color: $base-darkgray;
  }
  &--base-gray {
    background-color: $base-gray;
  }
  &--base-white {
    background-color: $base-white;
  }
  &--base-red {
    background-color: $base-red;
  }
  &--accent-khaki {
    background-color: $accent-khaki;
  }
  &--accent-rose {
    background-color: $accent-rose;
  }
  &--accent-orange {
    background-color: $accent-orange;
  }
  &--accent-purple {
    background-color: $accent-purple;
  }
  &--accent-yellow {
    background-color: $accent-yellow;
  }
  &--contrast-mustard {
    background-color: $contrast-mustard;
  }
  &--contrast-bluegray {
    background-color: $contrast-bluegray;
  }
  &--contrast-peach {
    background-color: $contrast-peach;
  }
  &--contrast-clay {
    background-color: $contrast-clay;
  }
  &--misc-lightgray {
    background-color: $misc-lightgray;
  }
  &--misc-darkred {
    background-color: $misc-darkred;
  }
}
