<footer class="footer content__full-bleed theme--dark">
  <div class="py-4 d-flex flex-column align-items-center gap-6">
    <div class="footer__block">
      <h4 class="text-center">Kontakt</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li>
          Gas-Notruf
          <span class="d-block">
            <a href="tel:128" class="text--xlarge"
              ><i class="bi bi-telephone-fill text--medium"></i> 128</a
            >
          </span>
        </li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Unternehmen</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Organe</a></li>
        <li><a href="#">Presse</a></li>
        <li><a href="#">Mitgliedschaften</a></li>
        <li><a href="#">Zertifizierung</a></li>
        <li><a href="#">Beschaffung</a></li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Markt</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Liberalisierung</a></li>
        <li><a href="#">Netzregulierung</a></li>
        <li><a href="#">Gleichbehandlung</a></li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Karriere</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Offene Stellen</a></li>
        <li><a href="#">Tätigkeiten</a></li>
        <li><a href="#">Gleichbehandlung</a></li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Nachhaltigkeit</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Smart Grids</a></li>
        <li><a href="#">Beitrag Energiewende</a></li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Rechtliches</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Impressung</a></li>
        <li><a href="#">Datenschutz</a></li>
        <li><a href="#">Offenlegung § 25 MG</a></li>
        <li><a href="#">Schlichtungsstellen</a></li>
        <li><a href="#">Compliance</a></li>
      </ul>
    </div>
    <div class="footer__block">
      <h4 class="text-center">Folgen Sie uns</h4>
      <ul class="footer__links list list--linked list-unstyled">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
