@import "abstracts/variables";

$img-height-cover-mobile: 520px;
$img-height-default-mobile: 220px;

.cover {
  &__image {
    width: 100%;
    height: $img-height-cover-mobile;
    border-radius: $border-radius;
  }
}

.customer-portal {
  &__image {
    color: $base-white;
    background-image: url("/assets/images/pic-dummy-2.png");
  }
}

.achievement {
  box-sizing: content-box;
  &__image {
    width: 100%;
    height: $img-height-default-mobile;
    border-radius: $border-radius;
  }
  &__grid {
    grid-auto-rows: 1fr;
    --bs-gap: 12px;
    @media screen and (min-width: $screen-md) {
      --bs-gap: 24px;
    }
  }
  &__text {
    margin: 0;
    font-size: $font-sm-mobile;
  }
}

.news-article {
  &__image {
    width: 100%;
    height: $img-height-default-mobile;
    border-radius: $border-radius;
  }
}
