<div class="d-flex flex-column">
  <img
    class="object-fit-contain cover__img"
    src="assets/images/pic-dummy.png"
    alt="Landing-Page Banner"
  />
  <div
    class="position-relative mx-4 p-4 d-flex flex-column justify-content-center align-items-center gap-3 availability__box"
  >
    <h1>Wir bauen Energie-Zukunft</h1>
    <h2>Ich brauche Strom oder Gas</h2>
    <input class="rounded-pill" type="text" placeholder="Adresse eingeben..." />
    <button class="btn btn-primary rounded-pill">
      Verfügbarkeit prüfen <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>
