@import "abstracts/variables";

.cover {
  &__img {
    width: 100%;
    height: 520px;
    border-radius: $border-radius;
  }
}

.availability {
  &__box {
    z-index: 100;
    border-radius: $border-radius;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -24px;
    width: 240px;
  }
}
