@import "abstracts/variables";

$theme-primary: $base-black;
$theme-secondary: $base-white;

.theme--dark {
  background-color: $theme-primary;
  color: $theme-secondary;
  &.content__full-bleed {
    box-shadow: 0 0 0 100vmax $theme-primary;
  }
  .btn {
    &.btn-primary {
      border: none;
      background: $gradient-red-darkred;
      color: $theme-secondary;
      &:hover,
      &:focus,
      &:active,
      &:visited {
        border: none;
        background: $gradient-red-darkred;
        color: $theme-secondary;
      }
    }
  }
  .txt-input {
    border-color: $theme-secondary;
    background-color: $theme-primary;
    color: $theme-secondary;
    // Firefox
    &::placeholder {
      color: $theme-secondary;
      opacity: 1;
    }
    // Edge 12-18
    &::-ms-input-placeholder {
      color: $theme-secondary;
    }
  }

  .link {
    color: $theme-secondary;
  }

  .list {
    &--linked a {
      color: $theme-secondary;
      text-decoration: none;
    }
  }
}
