@import "abstracts/variables";

$theme-primary: $noe-black;
$theme-secondary: $noe-white;

.theme__dark {
  background-color: $theme-primary;
  color: $theme-secondary;
  .btn-primary {
    border: none;
    background: linear-gradient(90deg, $noe-red 0%, $noe-darkred 100%);
  }
  .txt-input {
    border-color: $theme-secondary;
    background-color: $theme-primary;
  }
}
