@import "abstracts/variables";

.content__box {
  &--gray {
    background-color: $misc-lightgray;
  }
}

.btn {
  &.btn-primary {
    border: none;
    background-color: $base-white;
    color: $base-black;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      border: 2px solid $base-black;
      background-color: $base-white;
      color: $base-black;
    }
  }
}
