@import "abstracts/variables";

.btn {
  &.btn-primary {
    border: none;
    background-color: $base-white;
    color: $base-black;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      border: none;
      background-color: $base-white;
      color: $base-black;
    }
  }
}
